*{
    margin: 0;
    padding: 0;
    border: 0;
    --white: #ffffff;
    --black: #000000;
    --danger: #dc3545;
}
/*estilo de letras*/
.cabin-uniquifier {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  /* font-weight: 400;*/
/*nav*/
#nav{
    background-color: #373a3c;
    font-size: 16px;
    font-weight: 400;
}
#logo{
    font-size: 37px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
/*seccion uno*/
#seccion-uno{
    align-content: center;
    margin: 2pt 2pt 2pt 2pt;
}
#custom-button{
    border: 1px solid #DDDDDD !important;
    color: #373A3C !important;
    font-size: 16px !important;
}
#card{
    margin: 15pt 100pt 0 100pt;
    border: none;
}
#card .card-body h5{
    font-size: 40px;
    font-weight: 700;
    border-bottom: 2px solid var(--black);
}
#card .card-body p{
    font-size: 20px;
    font-weight: 700;
}
/*seccion dos*/
#seccion-dos{
    margin: 15pt 100pt 0 100pt;
    align-content: center;
    border-bottom: 1px solid var(--black);  
}
/*indocadores de carousel*/
#CarouselRicomida{
    border: none;
    margin-bottom: 50px;
}
/*para bajar los indicadores*/
#indicators{
    bottom: -60px;
}
/*para volver los indicadores redondos*/
#indicators button{
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: #373A3C ; 
}
/*seccion tres*/
#seccion-tres{
    display: flex;
    flex-direction: row;
    margin: 15pt 100pt 0 100pt;
    font-weight: 400;
    color: #373A3C;
    font-size: 20px;
}
.ingredientes{
    width: 50%;
}
.preparacion{
    width: 50%;
}
/*seccion cuatro*/
#seccion-cuatro{
    height: 550px;
    margin: 15pt 100pt 0 100pt;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--black); 
}
#titulo{
    font-weight: 700;
    font-size: 40px;
    color: #373A3C;
    text-align: center;
    margin: 20px;
}
#card-cuatro{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
#card-cuatro img{
    width: 316px;
    height: 180px;
}

#card-cuatro .card{
    width: 316px;
    height: 390px;
    margin-top: 10px;
}

#card-cuatro h5{
    font-weight: 700;
    font-size: 23px;
    color: #373A3C;
}
#card-cuatro p{
    font-weight: 400;
    font-size: 16px;
    color: #373A3C;
}
/*Seccion cinco de  suscribete*/
#seccion-cinco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 530px;
    background-color: var(--danger);
    color: var(--white);
    text-align: center;

}
#seccion-cinco button{
    border: 1px solid #DDDDDD !important;
    color: var(--white) !important;
    font-size: 16px !important;
    width: 233px;
}
#seccion-cinco h2{
    font-size: 40px;
    font-weight: 700;
}
#parrafos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#parrafos p{
    font-size: 30px;
    font-weight: 400px;
}
.singular{
    font-size: 35px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
/*seccion footer*/
footer{
    background-color: #373A3C;
    height: 110px;
    color: var(--white);
    font-size: 37px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    align-content: center;
}
/*Mobile*/
@media (max-width:767px){ 
    /*seccion uno de card principal*/
    #seccion-uno{
        margin: 15px 25px 0  25px;
        border-top: 1px solid var(--black); 
    }
    #card{
        width: auto;
        height: auto;
        border: none;
        margin: 30px;
    }
    #card .card-body h5{
        font-size: 25px;
        font-weight: 700;
        text-align: center;
    }
    #card .card-body p{
        font-size: 16px;
        font-weight: 700; 
        text-align: center;
    }

    #card img{
        width: 246px;
        height: 196px;
    }
    /*desaparecer el carousel*/
    #seccion-dos{
        display: none;
    }
    /*seccion tres igrendientes y preparacion*/
    #seccion-tres{
        display: flex;
        flex-direction: column;
        margin: 15px 25px 0  25px;
        font-weight: 400;
        color: #373A3C;
        font-size: 16px;
        height: auto;
    }
    #seccion-tres div{
        margin: 0 15px 0  15px;
    }
    .ingredientes{
        width: auto;
    }
    .preparacion{
        width: auto;
    }
    /*seccion cuatro fila de card*/
    #seccion-cuatro{
        height: auto;
        margin: 15px 30px 0  30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #titulo{
        font-weight: 700;
        font-size: 25px;
        color: #373A3C;
        margin: 20px;
    }
    #card-cuatro{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 30px;
    }
    #card-cuatro img{
        width: 244px;
        height: 174px;
    }
    
    #card-cuatro .card{
        width: 246px;
        height: 390px;
        margin-top: 10px;
    }
    
    #card-cuatro h5{
        font-weight: 700;
        font-size: 17px;
        color: #373A3C;
    }
    #card-cuatro p{
        font-weight: 400;
        font-size: 16px;
        color: #373A3C;
    }
    /*Seccion cinco de  suscribete*/
    #seccion-cinco{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: 448px;
        background-color: var(--danger);
        color: var(--white);
        text-align: center;

    }
    #seccion-cinco button{
        border: 1px solid #DDDDDD !important;
        color: var(--white) !important;
        font-size: 16px !important;
        width: 233px;
    }
    #seccion-cinco h2{
        margin: 0 20px 0  20px;
        font-size: 30px;
        font-weight: 700;
        
    }
    #parrafos{
        text-align: center;
    }
    #parrafos p{
        font-size: 20px;
        font-weight: 400px;
    }
    .singular{
        font-size: 25px;
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }

}


